
body {
    background-color: #f9fafc;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #0E4D92;
    text-align: center;
    font-weight: 700;
}

.stButton button {
    background-color: #0E4D92;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

.stButton button:hover {
    background-color: #094074;
    color: #fff;
}

div.stSuccess {
    background-color: #e6f4ea;
    border-left: 5px solid #0E4D92;
}
